<div class="row">
	<div class="large-8 columns">
		<h1>StaticPages#home</h1>
		<p>Find me in app/views/static_pages/home.html.erb</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tempor turpis, vitae sodales velit. In ac urna erat. Aenean non malesuada libero. Maecenas bibendum arcu non orci mattis pellentesque. Vivamus et neque id elit adipiscing accumsan nec eget nulla. Sed eget eros nec nibh egestas hendrerit. Proin faucibus vestibulum mauris id porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ullamcorper luctus adipiscing. Maecenas sit amet fringilla urna. Morbi at molestie massa.
		</p>
	</div>
	<div class="large-4 columns">
		<h3 class="subheader">Supplementary Information</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet tempor turpis, vitae sodales velit. In ac urna erat. Aenean non malesuada libero. Maecenas bibendum arcu non orci mattis pellentesque. Vivamus et neque id elit adipiscing accumsan nec eget nulla. Sed eget eros nec nibh egestas hendrerit. Proin faucibus vestibulum mauris id porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ullamcorper luctus adipiscing. Maecenas sit amet fringilla urna. Morbi at molestie massa.
		</p>
	</div>
</div>
<h2 style="padding:10px; text-align: center"> Some Information From Request and Response Objects </h2>
<div id="messageinfoMainContainer" class="cnr0auto0auto">
<p>
  <h3>Request Object:</h3>
  <ul>
  	<li><strong>SERVER_NAME:</strong> <%= @request.env["SERVER_NAME"]%></li>
  	<li><strong>PATH_INFO:</strong> <%= @request.env["PATH_INFO"]%></li>
  	<li><strong>REMOTE_HOST:</strong> <%= @request.env["REMOTE_HOST"]%></li>
  	<li><strong>HTTP_ACCEPT_ENCODING:</strong> <%= @request.env["HTTP_ACCEPT_ENCODING"]%></li>
  	<li><strong>HTTP_USER_AGENT:</strong> <%= @request.env["HTTP_USER_AGENT"]%></li>
  	<li><strong>SERVER_PROTOCOL:</strong> <%= @request.env["SERVER_PROTOCOL"]%></li>
  	<li><strong>HTTP_CACHE_CONTROL:</strong> <%= @request.env["HTTP_CACHE_CONTROL"]%></li>
  	<li><strong>HTTP_ACCEPT_LANGUAGE:</strong> <%= @request.env["HTTP_ACCEPT_LANGUAGE"]%></li>
  	<li><strong>HTTP_HOST:</strong> <%= @request.env["HTTP_HOST"]%></li>
  	<li><strong>REMOTE_ADDR:</strong> <%= @request.env["REMOTE_ADDR"]%></li>
  	<li><strong>SERVER_SOFTWARE:</strong> <%= @request.env["SERVER_SOFTWARE"]%></li>
  	<li><strong>HTTP_KEEP_ALIVE:</strong> <%= @request.env["HTTP_KEEP_ALIVE"]%></li>
  	<li><strong>HTTP_REFERER:</strong> <%= @request.env["HTTP_REFERER"]%></li>
  	<li><strong>HTTP_COOKIE:</strong> <%= @request.env["HTTP_COOKIE"]%></li>
  	<li><strong>HTTP_ACCEPT_CHARSET:</strong> <%= @request.env["HTTP_ACCEPT_CHARSET"]%></li>
  	<li><strong>REQUEST_URI:</strong> <%= @request.env["REQUEST_URI"]%></li>
  	<li><strong>SERVER_PORT:</strong> <%= @request.env["SERVER_PORT"]%></li>
  	<li><strong>GATEWAY_INTERFACE:</strong> <%= @request.env["GATEWAY_INTERFACE"]%></li>
  	<li><strong>QUERY_STRING:</strong> <%= @request.env["QUERY_STRING"]%></li>
  	<li><strong>REMOTE_USER:</strong> <%= @request.env["REMOTE_USER"]%></li>
  	<li><strong>HTTP_ACCEPT:</strong> <%= @request.env["HTTP_ACCEPT"]%></li>
  	<li><strong>REQUEST_METHOD:</strong> <%= @request.env["REQUEST_METHOD"]%></li>
  	<li><strong>HTTP_CONNECTION:</strong> <%= @request.env["HTTP_CONNECTION"]%></li>
  	<li><strong>headers["REMOTE_USER"]:</strong> <%= @request.headers["REMOTE_USER"]%></li>
  	<li><strong>headers["Content-Type"]:</strong> <%= @request.headers["Content-Type"]%></li>
  	<li><strong>headers["Content-Type"]:</strong> <%= @request.headers["Content-Type"]%></li>
  	<li><strong>headers["Content-Type"]:</strong> <%= @request.headers["Content-Type"]%></li>
  	<li><strong>headers["Content-Type"]:</strong> <%= @request.headers["Content-Type"]%></li>
  	<% @request.headers.each do |key, value| %>
  		<li>Key: <%= key %> Value: <%= value %></li>
  	<% end %>
  	<br />
  	<li><strong>host:</strong> <%= @request.host%></li>
  	<li><strong>domain(n=2):</strong> <%= @request.domain(n=2) %></li>
  	<li><strong>format:</strong> <%= @request.format %></li>
  	<li><strong>method:</strong> <%= @request.method %></li>
  	<li><strong>headers hash:</strong> <%= @request.headers %></li>
  	<li><strong>port:</strong> <%= @request.port %></li>
  	<li><strong>protocol:</strong> <%= @request.protocol %></li>
  	<li><strong>query_string:</strong> <%= @request.query_string %></li>
  	<li><strong>remote_ip:</strong> <%= @request.remote_ip %></li>
  	<li><strong>url:</strong> <%= @request.url %></li>
  </ul>
</p>

<p>
  <h3>Response Object:</h3>
  <ul>
  	<li><strong>body:</strong>  <%= @response.body%></li>
  	<li><strong>status:</strong>  <%= @response.status%></li>
  	<li><strong>location:</strong>  <%= @response.location%></li>
  	<li><strong>content_type:</strong>  <%= @response.content_type%></li>
  	<li><strong>charset:</strong>  <%= @response.charset%></li>
  	<li><strong>Headers hash:</strong>  <%= @response.headers%></li>
  	<% @response.headers.each do |key, value| %>
  		<li>Key: <%= key %> Value: <%= value %></li>
  	<% end %>
  </ul>
 
</p>
</div>