<%= form_for(@pat, remote: true) do |f| %>
  <% if @pat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pat.errors.count, "error") %> prohibited this pat from being saved:</h2>

      <ul>
      <% @pat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :facility_id %><br>
    <%= f.text_field :facility_id %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div id="divAppendGroupSelect"></div>
  <div>
    <%= f.label :doa %>
    <%= f.date_select :doa %>
  </div>

  

  <div class="actions">
  <!-- <input name="commit" type="submit" value="Create Pat" class="button tiny radius"  /> -->
  

    <%= f.submit 'submit', class: 'button tiny radius', id: 'bSubmit' %>
  </div>
<% end %>






