<!-- <div class="large-9 columns">
<div class="panel radius"> -->
  
  
  <table>
    <thead>
      <tr class="tableHeader">
        <!-- <th>FID</th> -->
        <th><%= sort_link(@q, :firstname) %></th>
        <th><%= sort_link(@q, :lastname) %></th>
        <th><%= sort_link(@q, :number) %></th>
        <th><%= sort_link(@q, :ward) %></th>
        <th><%= sort_link(@q, :doa, "Admission") %></th>
        <th><%= sort_link(@q, :dob, "Birth") %></th>
        <th><%= sort_link(@q, :dod, "Discharge") %></th>
        <th colspan="2"></th>
        <!-- <th></th>
        <th></th>-->
      </tr>
    </thead>
    <tbody>
      <% @pats.each do |pat| %>
        <tr>
          <!-- <td><%#= pat.facility_id %></td> -->
          <td><%= pat.firstname %></td>
          <td><%= pat.lastname %></td>
          <td><%= pat.number %></td>
          <td><%= pat.ward %></td>
          <% unless pat.doa.blank? %>
            <td><%= pat.doa.strftime('%F') %></td>
          <% else %>
            <td> </td>
          <% end %>
          <% unless pat.dob.blank? %>
            <td><%= pat.dob.strftime('%F') %></td>
          <% else %>
            <td> </td>
          <% end %>
          <% unless pat.dod.blank? %>
            <td><%= pat.dod.strftime('%F') %></td>
          <% else %>
            <td> </td>
          <% end %>

          <!-- <td><%#= link_to 'Show', pat %></td> -->
          <td><%= link_to 'Edit', edit_pat_path(pat), class: 'lEdit', remote: true%></td>
          <td><%= link_to 'Destroy', pat, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="6" class="tableFooter">
          <%= paginate @pats %>
        </td>
        <td colspan="3" class="tableFooter">
          <%= @searchNumber %>  from <%= @totNumber %> total
        </td>
      </tr>
    </tbody> 
  </table> 
<!-- </div>       
</div> -->