<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">FirstName</Data></Cell>
        <Cell><Data ss:Type="String">LastName</Data></Cell>
        <Cell><Data ss:Type="String">Number</Data></Cell>
        <Cell><Data ss:Type="String">Ward</Data></Cell>
      </Row>
    <% @pats.each do |pat| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= pat.facility_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pat.firstname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pat.lastname %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= pat.number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pat.ward %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>