<h1>Listing pats</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pats.each do |pat| %>
      <tr>
        <td><%= pat.firstname %></td>
        <td><%= pat.lastname %></td>
        <td><%= pat.number %></td>
        <td><%= link_to 'Show', pat %></td>
        <td><%= link_to 'Edit', edit_pat_path(pat) %></td>
        <td><%= link_to 'Destroy', pat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pat', new_pat_path %>
