<div><b>Weekly Meeting Form</b></div>
<div class="large-offset-1">
  <%= @pat.firstname %> <%= @pat.lastname %> <%= @pat.number %> <%= @pat.ward %>
</div>
  
<%= form_for(@weekly_note, remote: true) do |ff| %>
    <% if @weekly_note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@weekly_note.errors.count, "error") %> prohibited this weekly_note from being saved:</h2>

        <ul>
        <% @weekly_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= text_field_tag(:th_ward) %>
      <%#= text_field_tag(:th_previous_meetings) %>
      <%#= text_field_tag(:th_meeting_date) %>
    </div>

    <div class="small-10 small-offset-1">
      <%= ff.label :pat_id %>
      <%= ff.text_field :pat_id, value: @pat.id %>
    </div>
    <div class="small-10 small-offset-1">
      <%= ff.label :danger_yn %>
      <%= ff.text_field :danger_yn %>
    </div>
    <div class="small-10 small-offset-1">
      <%= ff.label :drugs_last_changed %>
      <%= ff.text_field :drugs_last_changed %>
    </div>
    <div class="small-10 small-offset-1">
      <%= ff.label :drugs_not_why %>
      <%= ff.text_area :drugs_not_why %>
    </div>
    <div class="small-10 small-offset-1">
      <%= ff.label :drugs_change_why %>
      <%= ff.text_area :drugs_change_why %>
    </div>
    <div class="small-10 small-offset-1">
      <%= ff.label :meeting_date %>
      <%= ff.date_field :meeting_date %>
      <%#= f.date_select :meeting_date %>
    </div>
    <div class="small-10 small-offset-1">
    <%= ff.submit class: 'button tiny radius' %>
    <%= link_to("Cancel", "#", id: "bCancel", class: "button tiny radius") %>
    </div>
  </div>
<% end %>

  






