<%= form_for(@pat, :url => weekly_notes_path, :method => :post) do |f| %>
  <% if @pat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pat.errors.count, "error") %> prohibited this pat from being saved:</h2>

      <ul>
      <% @pat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-10 small-offset-1">
      <%= f.label :facility_id %>
    </div>
    <div class="small-10 small-offset-1">
      <%= f.text_field :facility_id %>
    </div>

    <div class="small-10 small-offset-1">
      <%= f.label :firstname %>
    </div>
    <div class="small-10 small-offset-1">
      <%= f.text_field :firstname %>
    </div>

    <div class="small-10 small-offset-1">
      <%= f.label :lastname %>
    </div>
    <div class="small-10 small-offset-1">
      <%= f.text_field :lastname %>
    </div> 

    <div class="small-10 small-offset-1">
      <%= f.label :number %>
    </div>
    <div class="small-10 small-offset-1">
      <%= f.text_field :number %>
    </div> 

    <div class="small-10 small-offset-1">
      <%= f.label :ward %>
    </div>
    <div class="small-10 small-offset-1" id="divFormSelectWrapper">
      <%= f.text_field :ward, id: 'tWard' %>  
    </div>  

    <div class="small-10 small-offset-1">
      <%= f.label :doa %>
    </div>
    <div class="small-10 small-offset-1">
      <%= f.date_field :doa %>
      <%#= f.date_select :doa %>
    </div> 
  </div>
  <%= f.fields_for :weekly_note do |builder| %>
    <div class="row">
      <%= builder.label :drugs_not_why  %>
      <%= builder.text_area :drugs_not_why %>
    </div>
  <% end %>



  <div class="row collapse">
    <div class="small-6 columns">
      <%= f.submit class: 'button tiny radius' %>
    </div>
    <div class="small-6 columns">
      <%= link_to("Cancel", "#", id: "bCancel", class: "button tiny radius") %>
    </div>       
  </div>
<% end %>






