<table id="meetingtrackertable">
	<thead>
		<tr class="tableHeader">
			<th class="hide"><%= sort_link(@q, :pat_id) %></th>
			<th><%= sort_link(@q, :pat_firstname) %></th>
			<th><%= sort_link(@q, :pat_lastname) %></th>
			<th><%= sort_link(@q, :pat_number) %></th>
			<th><%= sort_link(@q, :pat_ward) %></th>
			<th><%= sort_link(@q, :pat_doa, "DOA") %></th>
			<th><%= sort_link(@q, :danger_yn, "Danger") %></th>
			<th><%= sort_link(@q, :meeting_date, "Meeting") %></th>
			<th><%= sort_link(@q, :drugs_last_changed, "Med change") %></th>
			<th><%= sort_link(@q, :pre_date_yesno, "Pre") %></th>
			<th><%= sort_link(@q, :date_pre, "Pre") %></th>
		</tr>
	</thead>
	<tbody>
		<% @weeklyNotes.each do |note| %>
			<tr>
				<td class="hide"><%= note.pat.id %></td>
				<td><%= note.pat.firstname %></td>
				<td><%= note.pat.lastname %></td>
				<td><%= note.pat.number %></td>
				<td><%= note.pat.ward %></td>
				<% unless note.pat.doa.blank? %>
				<td><%= note.pat.doa.strftime('%F') %></td>
				<% else %>
				<td></td>
				<% end %>
				<td><%= note.danger_yn %></td>
				<% unless note.meeting_date.blank? %>
					<td><%= note.meeting_date.strftime('%F') %></td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= note.drugs_last_changed %></td>
				<td><%= note.pre_date_yesno %></td>
				<% unless note.date_pre.blank? %>
					<td><%= note.date_pre.strftime('%F') %></td>
				<% else %>
					<td></td>
			</tr>
				<% end %>						
		<% end %>
		<tr>
			<td colspan="7" class="tableFooter">
				<%= paginate @weeklyNotes %>
			</td>
			<td colspan="3" class="tableFooter">
				 <%= @searchNumber %>  from <%= @totNumber %> total
			</td>
		</tr>
	</tbody>
</table>
