<div class="large-12 columns">
<div class="panel">
  <div class="panel callout radius">
     <%= search_form_for @q, url: presentation_weekly_notes_path, remote: true do |f| %>
        <div class="row collapse">
          <div class="small-4 columns" >
                <%= f.submit class: 'button tiny radius' %>           
          </div>

          <div class="small-4 columns">
            <%= f.label(:ward_cont, "Ward")  %>
          </div>
          <div class="small-4 columns">
            <%= f.search_field :ward_cont %>
          </div>                         
        </div>
        

        
      <% end %>
  </div>
  
  <table>
    <thead>
      <tr class="tableHeader">
        <!-- <th>FID</th> -->
        <th><%= sort_link(@q, :lastname, "Name") %></th>
        <th></th>
        <!-- <th></th>
        <th></th>-->
      </tr>
    </thead>
    <tbody>
      <% @pats.each do |pat| %>
        <tr>
          <!-- <td><%#= pat.facility_id %></td> -->
          <td><%= pat.lastname %> <%= pat.firstname %> <%= pat.number %> </td>
          <!-- <td><%#= link_to 'Show', pat %></td> -->
          <td><%= link_to 'NewForm', new_with_pat_path(pat), class: 'lEdit', remote: true%></td>
        </tr>
      <% end %>
      <tr>
        <td class="tableFooter">
          <%= paginate @pats %>
        </td>
        <!-- <td colspan="3" class="tableFooter">
          <%#= @searchNumber %>  from <%#= @totNumber %> total
        </td> -->
      </tr>
    </tbody> 
  </table> 
</div>       
</div>