<div class="row">
	<div class="large-5 columns large-centered alignCenterNoPadding"><h5>Ward Weekly Clinical Note Tracker</h5></div>
</div>
<div id="divFilterandTable">
<div class="row">
	<div class="large-9 columns large-centered panel radius">
		<div class=" panel callout radius">
			<%= search_form_for @q, url: meetingtrackertable_weekly_notes_path, method: :get, remote: :true do |f| %>
			<div class="row">
				<div class="small-2 columns" >
		            <div class="small-2 columns">
		                <%= f.submit class: 'button tiny radius' %>  
		              </div>
		         </div>
		         <div class="small-10 columns">
		         	firstname <%= f.search_field(:pat_firstname_cont) %>
		         	danger_yn <%= f.search_field(:danger_yn_cont) %>
		         	meeting date<%= f.date_field(:meeting_date_cont) %>
		         	<%= f.search_field(:drugs_last_changed_cont) %>
		         	<%= f.search_field(:pre_date_yesno_cont) %>
		         	<%= f.date_field(:date_pre_cont) %>
		         </div>
			</div>
			<% end %>			
		</div>
		<div id="divMeetingTable">
			<%= render('meetingtrackertable') %>
		</div>
		
	</div>

<div class="row">
	<div class="large-6 columns">
		<div class="panel radius">
			Left Output
		</div>
	</div>
	<div class="large-6 columns">
		<div class="panel radius">
			Right Output
		</div>
	</div>
</div>