<p id="notice"><%= notice %></p>

<p>
  <strong>Danger yn:</strong>
  <%= @weekly_note.pat_id %>
</p>

<p>
  <strong>Danger yn:</strong>
  <%= @weekly_note.danger_yn %>
</p>

<p>
  <strong>Drugs last changed:</strong>
  <%= @weekly_note.drugs_last_changed %>
</p>

<p>
  <strong>Drugs not why:</strong>
  <%= @weekly_note.drugs_not_why %>
</p>

<p>
  <strong>Drugs change why:</strong>
  <%= @weekly_note.drugs_change_why %>
</p>

<p>
  <strong>Meeting date:</strong>
  <%= @weekly_note.meeting_date %>
</p>

<%= link_to 'Edit', edit_weekly_note_path(@weekly_note) %> |
<%= link_to 'Back', weekly_notes_path %>
